<div class="post" data-post-id="{{ post.id }}">
    {% if post.photo %}
        <img src="{{ post.photo.url }}">
    {% endif %}
    <br>
    <p style="color: coral">{{ post.caption | linebreaks }}</p>
    <p>published at {{ post.created }}</p>
    <p>by: {{ post.author }}</p>
    <button class="like-button">
        {% if request.user in post.likes.all %}
        	Unlike
        {% else %}
            Like
        {% endif %}
    </button>
    <span class="like-count">{{ like_count }}</span> likes
</div>
{% for tag in post.tags.all %}
    <a href="{% url 'Social:post_list_by_tag' tag %}">{{ tag }}</a>
{% endfor %}
<hr>
<h3>comments: </h3>
{% for cm in post.comments.all %}
    <p style="background: lightseagreen; color: indigo">{{ cm.author }}: {{ cm.text }}</p>
{% endfor %}
<hr>
<h3>add comment</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="add comment">
</form>
{% if commented %}<p style="color: darkred; background: mediumorchid">your comment added</p>{% endif %}
<hr>
<h2>similar posts</h2>
{% for post in similar_posts %}
    <a href="{{post.get_absolute_url}}">{{ post.caption | truncatewords:5 }}</a>
{% empty %}
    there are no same post
{% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function (){
        $('.like-button').click(function() {
            var post_id = $(this).closest('.post').data('post-id');
            var button = $(this);
            $.ajax({
                type: 'POST',
                url: '{% url 'Social:like_post' %}',
                data: {'post_id': post_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(data){
                    if(data.liked) {
                        button.text('Unlike');
                        }
                    else {
                        button.text('Like');
                    }
                    {#$('.like-count').text(data.like_count);#}
                    button.closest('.post').find('.like-count').text(data.like_count);
                }
            })
        })
    })
</script>